PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.cj7yfkw.mongodb.net/freshcart?retryWrites=true&w=majority
JWT_SECRET=freshcart_super_secret_jwt_key_2024
NODE_ENV=production
CLIENT_URL=https://freshcart-q7vh-git-main-harshas-projects-d0a52d4c.vercel.app
FRONTEND_URL=https://freshcart-q7vh-git-main-harshas-projects-d0a52d4c.vercel.app
